.app {
  width: 80%;
  margin: 0 10%;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

