
.box {
  display: inline-block;
  border: 1px solid rgb(16,99,181);
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: orange;
  opacity: 0.7;
}

.on {
  background-color: blue;
}

.box:hover {
  background: #00ccff;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 15px  blue;
  margin-top: 20px;
}


h1,
h2,
h3,
h4 {

  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

p,
ul {
  margin: 25px;
  padding: 3px;
}

button {
  margin: 3px;
}

.drop{
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  background-color: white;
}
.drop:hover{
  background-color: rgb(235, 243, 129);
}

.about {
  padding: 5px;
  margin: 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  color: black;
}

.information {
  opacity: 0.8;
  width: 50%;
}

.rules {
  opacity: 0.8;
  width: 50%;
  padding: 0 10px;
}

.controls {
  display: flex;
  flex-flow: row wrap;
}

.size {
  border: 1px solid black;
  color: orange;
  text-decoration: none;
  margin: 4px;
  padding: 2px;
  border-radius: 5px;
}